@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "umbLayout.cshtml";
}
<div id="main-wrapper">
    <div id="main" class="container">
        <div class="row">
            <div class="9u skel-cell-mainContent">
                <div class="content content-left">
                    <!-- Content -->
                    <article class="is-page-content">
                        <header>
                            <h2>Thank you for contacting me</h2>
                        </header>
                        <section>
                            I should get an email shortly and I will respond as soon as I can using the email address you provided.
                        </section>
                    </article>
                    <!-- /Content -->
                </div>
            </div>
        </div>
    </div>
</div>
