<!DOCTYPE root[<!ELEMENT Jpdemo1 ANY>
<!ATTLIST Jpdemo1 id ID #REQUIRED>
 
<!ELEMENT umbHomePage ANY>
<!ATTLIST umbHomePage id ID #REQUIRED>
<!ELEMENT umbMaster ANY>
<!ATTLIST umbMaster id ID #REQUIRED>
<!ELEMENT umbNewsItem ANY>
<!ATTLIST umbNewsItem id ID #REQUIRED>
<!ELEMENT umbNewsOverview ANY>
<!ATTLIST umbNewsOverview id ID #REQUIRED>
<!ELEMENT umbTextPage ANY>
<!ATTLIST umbTextPage id ID #REQUIRED>

]>
<root id="-1">
  <umbHomePage id="1064" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2015-02-18T21:03:44" updateDate="2015-02-19T03:40:39" nodeName="Home" urlName="home" path="-1,1064" isDoc="" nodeType="1052" creatorName="Jeremy Pridmore" writerName="Jeremy Pridmore" writerID="0" template="1047" nodeTypeAlias="umbHomePage">
    <umbTextPage id="1067" parentID="1064" level="2" creatorID="0" sortOrder="2" createDate="2015-02-18T21:03:45" updateDate="2015-02-19T00:15:30" nodeName="Installing Modules" urlName="installing-modules" path="-1,1064,1067" isDoc="" nodeType="1055" creatorName="Jeremy Pridmore" writerName="Jeremy Pridmore" writerID="0" template="1050" nodeTypeAlias="umbTextPage">
      <umbracoNaviHide>0</umbracoNaviHide>
      <title><![CDATA[Installing Umbraco]]></title>
      <featuredPage>1</featuredPage>
      <image><![CDATA[/media/1006/jpdemoinstall.png]]></image>
      <bodyText><![CDATA[<p>I performed a number of tasks to install Umbraco and update this site.  The first few tasks are listed below.</p>
<ol>
<li>
<p>I downloaded and installed Microsoft Web matrix.</p>
</li>
<li>
<p>Installed supporting components for Visual Web Developer 2010.</p>
</li>
<li>
<p>Also installed via Web Platform Installer SQL Server Express 2008 components.</p>
</li>
<li>
<p>Created a new site called jpdemo on Azure and also linked a new SQL Database resource to the site.</p>
</li>
<li>
<p>Continued the install of Umbraco.</p>
</li>
<li>
<p>Created a new Site from Application gallery and chose the Umbraco CMS.</p>
</li>
<li>
<p>Installed Umbraco and configured the application to connect to my existing pridmorej Azure database.</p>
</li>
<li>
<p>Chose the “txt starter kit” site template.</p>
</li>
<li>
<p>Explored the Umbraco Site Administrator web portal.</p>
</li>
<li>
<p>Published the Umbraco site to jpdemo1, which required settings for the umbracodsn database connection – pointed to jpdemo1 database.</p>
</li>
<li>
<p>Logged into GitHub and created a new, blank jpdemo1 repository.</p>
</li>
<li>
<p>Connected the new site to GitHub – required the installation of GitHub for Windows.</p>
</li>
<li>
<p>Committed my changes to Github.</p>
</li>
<li>
<p>Run the app and started to look at what I could change.</p>
</li>
<li>
<p>Stopped the app and started to investigate the various content of the new site.</p>
</li>
<li>
<p>Looked at the homepage cshtml view and noticed that it depends upon a particular layout. I noticed that it also inherits from a UmbracoTemplatePage, which I later learned is a class within the Umbraco MVC library.</p>
</li>
<li>
<p>I investigated the various partial views and other content.</p>
</li>
<li>
<p>I then read a next-steps article about what to do after installing Umbraco.</p>
</li>
<li>
<p>I created a new document type jpdemo1 and added some tabs and properties from within the “developer” section of the admin site.</p>
</li>
<li>
<p>I then investigate the “content” section and modified some of the predefined content on various pages.</p>
</li>
</ol>]]></bodyText>
    </umbTextPage>
    <umbTextPage id="1068" parentID="1064" level="2" creatorID="0" sortOrder="3" createDate="2015-02-18T21:03:46" updateDate="2015-02-19T00:22:24" nodeName="About" urlName="about" path="-1,1064,1068" isDoc="" nodeType="1055" creatorName="Jeremy Pridmore" writerName="Jeremy Pridmore" writerID="0" template="1050" nodeTypeAlias="umbTextPage">
      <umbracoNaviHide>0</umbracoNaviHide>
      <title><![CDATA[About JP]]></title>
      <featuredPage>1</featuredPage>
      <image><![CDATA[/media/1005/newprofilepicsmaller.jpg]]></image>
      <bodyText><![CDATA[<p>I am a family man and especially enjoy the company of my wife and three children. I actively support, and ferry to competitions, two of our children who are National and Club Level gymnasts. My third child is a Lego hobbyist whom I help with sorting all his pieces for his extensive collection of models.</p>
<p>I am a keen runner and active member of a well known running club. I take part in the Southern Counties Athletics League and Kent Fitness League XC. I like swimming, cycling and going to the gym.</p>
<p>I also support (in my own time) the IT Infrastructure (Windows Server and several Win 7 PCs) at my wife’s and mother-in-law’s own Children’s Nursery business where I have often helped out during special events such as the Summer BBQ, Fireworks Night and Christmas Lights Switch-on.</p>
<p>I help a local church with art projects for small groups of teenage children who are taking part in their Confirmation.</p>]]></bodyText>
    </umbTextPage>
    <umbNewsOverview id="1069" parentID="1064" level="2" creatorID="0" sortOrder="4" createDate="2015-02-18T21:03:46" updateDate="2015-02-19T01:03:42" nodeName="Projects" urlName="projects" path="-1,1064,1069" isDoc="" nodeType="1054" creatorName="Jeremy Pridmore" writerName="Jeremy Pridmore" writerID="0" template="1049" nodeTypeAlias="umbNewsOverview">
      <umbNewsItem id="1070" parentID="1069" level="3" creatorID="0" sortOrder="0" createDate="2015-02-18T21:03:47" updateDate="2015-02-19T02:19:04" nodeName="Automated Billing System" urlName="automated-billing-system" path="-1,1064,1069,1070" isDoc="" nodeType="1053" creatorName="Jeremy Pridmore" writerName="Jeremy Pridmore" writerID="0" template="1048" nodeTypeAlias="umbNewsItem">
        <umbracoNaviHide>0</umbracoNaviHide>
        <image><![CDATA[/media/1007/automated-billing-invoice-screen.png]]></image>
        <bodyText><![CDATA[<p>This project was completed in 2013 and was built upon the iReport.NET framework that I had started to build in 2012.  The client wanted a Invoice Creation/Automated Billing System that was capable of letting staff create invoices, submit them for approval, then, once approved, have a pdf of the invoice created and emailed to the client and then have the details that were entered posted to their Sun Accounts database.</p>
<p>Technologies used included ASP.NET WebForms, C#, SQL Server, Broadgun PDF, CSS, JavaScript and jQuery.  The system also integrated to their HR application, their Active Directory domain and, as mentioned, their Sun Accounts database.</p>
<p>I lead a team of 2 developers, one a contractor on the implementation and testing of the system.  It was deployed via a simple MSDeploy script.  Database changes were deployed via scripts created using Redgate SQL Compare.  Source control was (at that time) CVS.  Project planning was Microsoft Project and the Agile Management of Backlog and Tasks was via PivotalTracker.com.</p>
<p>The screen shown here contains a complex page which renders an invoice based upon an underlying set of partial page templates (first page, extra page + headers and footers for each) and provides read-only and editable views.  The view shown here is edit mode with a line item, hovered over which highlights the line item and displays the popup context menu.  The blue area is a HTML Editor that allows basic formatting of the line item description.  When editing each line item, the page repaginates as required when the height of the line item changes, i.e. new pages are added and the line item pops onto the next page.  This is all controlled via bespoke JavaScript.</p>
<p>The left hand menu is hierarchical and driven by user/group permissions; as are the breadcrumbs.  The navigation bar above the invoice shows progress through the invoice creation process and there are additional commands related to the current stage on the right hand side.</p>]]></bodyText>
      </umbNewsItem>
      <umbNewsItem id="1071" parentID="1069" level="3" creatorID="0" sortOrder="1" createDate="2015-02-18T21:03:47" updateDate="2015-02-19T02:41:51" nodeName="RCA System" urlName="rca-system" path="-1,1064,1069,1071" isDoc="" nodeType="1053" creatorName="Jeremy Pridmore" writerName="Jeremy Pridmore" writerID="0" template="1048" nodeTypeAlias="umbNewsItem">
        <umbracoNaviHide>0</umbracoNaviHide>
        <image><![CDATA[/media/1008/rca-system-assessment-screen.png]]></image>
        <bodyText><![CDATA[<p>Following on from the Automated Billing System, the iReport.NET framework was further developed and utilised for the RCA System.  RCAs are "Reinstatement Cost Assessments" which are created by cost consultants.  They are used for insurance purposes and provide a break down of costs for demolishing, clearing and rebuilding a property in the event of a total loss.</p>
<p>Again, this system required the development of a complex form to manage the entry and display of more than 100 data items in the assessment.  A complex calculation was implemented in JavaScript and in TSQL which, given the differences between rounding and exponent operations was a challenge to get right.  The RCAs were also required to be formatted for different currencies, so as well as the usual jQuery library, I also adopted the jQuery.global library for currency and numeric formatting.  This also had to be integrated with the server-side use of .NET Cultures and ensuring that server-side bindings were also culture-aware.</p>
<p>Again, the system used the Broadgun PDF solution for creating PDFs and the iReport.NET framework was extended with many user controls including the ability to edit email templates which were populated with data from the current RCA and then emailed, with embedded attachments (using base64 encoding) to the client.</p>
<p>The AjaxControlToolkit was used extensively in the application, in particular the FileUpload control, SlideshowExtender and the HTMLEditorExtender.  These were customised to add additional features (such as context parameters) which were not part of the main ACT Dec 2013 release.</p>
<p>Use of Ajax Minification of JavaScript and CSS was also used in this project and conditionally integrated depending upon the configuration.</p>
<p>This application also relied heavily on a dozen or more data entry forms including Clients, Properties, Portfolios and also many "look up data" forms for managing the content of drop-down lists.</p>
<p>Testing was via Visual Studio unit tests and source code control is TFS 2013.  The project was initially planned using Project Server and then tasks transferred to PivotalTracker.com where the backlog was managed and tasks assigned to developers.  A small team of 3 was managed using PivotalTracker.com and time was recorded using TCS inhouse timesheets.  Actuals were compared to planned via a Cost Accomplishment sheet that also showed the burn rate.</p>]]></bodyText>
      </umbNewsItem>
      <umbNewsItem id="1072" parentID="1069" level="3" creatorID="0" sortOrder="2" createDate="2015-02-18T21:03:47" updateDate="2015-02-19T03:13:22" nodeName="TCS Website" urlName="tcs-website" path="-1,1064,1069,1072" isDoc="" nodeType="1053" creatorName="Jeremy Pridmore" writerName="Jeremy Pridmore" writerID="0" template="1048" nodeTypeAlias="umbNewsItem">
        <umbracoNaviHide>0</umbracoNaviHide>
        <image><![CDATA[/media/1009/tcs-home-page.png]]></image>
        <bodyText><![CDATA[<p>This is an old project I completed internally a number of years ago.  I am showing it, not for it's design or html structure, but to highlight specific features such as the development of Silverlight applications.  Silverlight is closely related to WPF and the use of XMAL to develop rich interactive components that run on the TCS website.  I created the site in Expression Web and used Blend to create the Silverlight applications.</p>
<p>The site also has an area that integrates with PayPal and has a procedure for submitting a Licence Key request to a .NET web service I created and hosted at TCS.  There are many other minor integrations, such as to Captcha, Google Analytics and Trovus B2B Tracker.  The site was also hosted on Apache and utilised Perl for server-side scripting.</p>
<p>I created the site in its entirety over a couple of years and managed the site content and SEO to Google first page rank for various search terms.  The upkeep of the site was not maintained following my change of role in 2011.</p>]]></bodyText>
      </umbNewsItem>
      <umbNewsItem id="1073" parentID="1069" level="3" creatorID="0" sortOrder="3" createDate="2015-02-18T21:03:48" updateDate="2015-02-19T03:25:18" nodeName="iCube.NET" urlName="icubenet" path="-1,1064,1069,1073" isDoc="" nodeType="1053" creatorName="Jeremy Pridmore" writerName="Jeremy Pridmore" writerID="0" template="1048" nodeTypeAlias="umbNewsItem">
        <umbracoNaviHide>0</umbracoNaviHide>
        <publishDate>2021-09-20T00:00:00</publishDate>
        <image><![CDATA[/media/1010/icube-reports-page.png]]></image>
        <bodyText><![CDATA[<p>This web application was built before I introduced the iReport.NET framework.  This web application was built around the use of the PivotTable and PivotChart objects from the Microsoft Office Web Components (retired in 2010).  The application allowed users to create their own self-service reports and charts from data stored in OLAP cubes in SSAS.</p>
<p>The application was deployed using a Microsoft Install project with custom InstallHelper class that displayed a custom wizard which prompted the user for installation options, i.e. target IIS Server and target OLAP server, licence key and many other settings.  The custom install helper also managed the deployment of the application to IIS (using WMI and later WebAdministration), the creation and/or upgrade of the SQL database and also the deployment of any sample Cubes.</p>
<p>The application also made use of the now defunct ActiveX technology to host the PivotTable and PivotChart controls and also IExpress installer tool to create the client-side installation package.</p>]]></bodyText>
      </umbNewsItem>
      <umbracoNaviHide>0</umbracoNaviHide>
    </umbNewsOverview>
    <Jpdemo1 id="1079" parentID="1064" level="2" creatorID="0" sortOrder="5" createDate="2015-02-19T00:28:50" updateDate="2015-02-19T00:38:51" nodeName="jpdemo1" urlName="jpdemo1" path="-1,1064,1079" isDoc="" nodeType="1075" creatorName="Jeremy Pridmore" writerName="Jeremy Pridmore" writerID="0" template="1074" nodeTypeAlias="Jpdemo1">
      <umbracoNaviHide>0</umbracoNaviHide>
      <title><![CDATA[jpdemo1]]></title>
      <description><![CDATA[This is a custom document type I created.  I added some properties and a couple of tabs.  I then allowed this new document type under the Master document type.  I then created a new page via the content section and filled in these details.  Once I published the new view, I then set about updating the jpdemo1.cshtml view.  I only added some simple structure to the page and then added a razor statement to render this description field.]]></description>
      <experience><![CDATA[2]]></experience>
    </Jpdemo1>
    <umbTextPage id="1080" parentID="1064" level="2" creatorID="0" sortOrder="6" createDate="2015-02-19T00:44:59" updateDate="2015-02-19T00:50:18" nodeName="More content" urlName="more-content" path="-1,1064,1080" isDoc="" nodeType="1055" creatorName="Jeremy Pridmore" writerName="Jeremy Pridmore" writerID="0" template="1050" nodeTypeAlias="umbTextPage">
      <umbTextPage id="1065" parentID="1080" level="3" creatorID="0" sortOrder="1" createDate="2015-02-18T21:03:45" updateDate="2015-02-19T00:46:47" nodeName="Getting Started" urlName="getting-started" path="-1,1064,1080,1065" isDoc="" nodeType="1055" creatorName="Jeremy Pridmore" writerName="Jeremy Pridmore" writerID="0" template="1050" nodeTypeAlias="umbTextPage">
        <umbracoNaviHide>1</umbracoNaviHide>
        <featuredPage>0</featuredPage>
        <image><![CDATA[/media/SampleImages/1063/pic01.jpg]]></image>
        <bodyText><![CDATA[<p>You've installed Umbraco and the "Txt" Starter Kit.</p>
<p>Edit the text on the homepage and create a site structure by adding new texpages to your site. This is all done in the <strong>Content</strong> section.</p>
<p>If you find the editing options provided by the Txt site too limited for you needs, simply add more properties to the page by going to the <strong>Settings</strong> section, expanding the <strong>Document Types</strong> item and adding new properties on the <strong>Generic Properties</strong> tab. You can find more information about <a href="http://umbraco.org/help-and-support/video-tutorials/introduction-to-umbraco/sitebuilder-introduction/document-types" title="About Umbraco Document Types">document types and properties</a> at the <a href="http://umbraco.com" title="The Umbraco Website">Umbraco website</a>.</p>
<p>You'll probably want to personalize your site by changing the current design. This is also done in the <strong>Settings</strong> section, by editing the CSS styles and HTML templates. Umbraco uses master templates, so the main, common markup is placed in the <strong>Starterkit Master</strong> template, while the Homeage and Textpage have separate templates for their unique layouts. You can find more information about <a href="http://umbraco.org/help-and-support/video-tutorials/introduction-to-umbraco/sitebuilder-introduction/templates" title="Umbraco Templates and Stylesheets">templates and css</a> in umbraco at the umbraco website.</p>
<p>Once you're happy with your site's design, you might want to add more functionality, such as maps, image galleries or forms. This is done by <a href="http://umbraco.org/help-and-support/video-tutorials/getting-started" title="Umbraco Modules">installing Umbraco modules</a>.</p>]]></bodyText>
      </umbTextPage>
      <umbTextPage id="1066" parentID="1080" level="3" creatorID="0" sortOrder="2" createDate="2015-02-18T21:03:45" updateDate="2015-02-19T00:46:59" nodeName="Go Further" urlName="go-further" path="-1,1064,1080,1066" isDoc="" nodeType="1055" creatorName="Jeremy Pridmore" writerName="Jeremy Pridmore" writerID="0" template="1050" nodeTypeAlias="umbTextPage">
        <umbracoNaviHide>1</umbracoNaviHide>
        <featuredPage>0</featuredPage>
        <image><![CDATA[/media/SampleImages/1060/pic02.jpg]]></image>
        <bodyText><![CDATA[<p>The Txt Starter Kit only scratches the surface of what's possible with Umbraco. Below the Txt Starter Kit and its modules lies a great architecture that lets you implement whatever you need.</p>
<p>With Umbraco you've finally got a solid, open and reliable platform for websites as basic as the Txt site, and Umbraco can be rapidly expanded to support multi-language websites, collaboration platforms and intra/extranets, to name just a few.</p>
<p>Advanced functionality is created with Umbraco macros, built with Umbraco's award-winning .NET integration, including full support for any .NET User or Custom control and ASP.NET MVC. Create and integrate your own .NET macros in mere minutes with point and click simplicity. Simply copy your controls to the Umbraco website, go to the <strong>Developer</strong> section and create a new macro, selecting your control from the list.</p>
<p>You can also use <a href="http://umbraco.org/help-and-support/video-tutorials/getting-started/working-with-webmatrix" title="Working with Razor">Microsoft's Razor</a> syntax to quickly add dynamic functionality to your site.</p>
<p>We've also gathered the best community macros into a repository that's also accessed from the <strong>Developer</strong> section, in the <strong>Packages</strong> area. You can find more information <a href="http://umbraco.org/help-and-support/video-tutorials/introduction-to-umbraco/sitebuilder-introduction/what-are-macros" title="About creating Umbraco macros">about creating macros</a>, on the Umbraco website.</p>
<p>The sky is the limit with Umbraco, and you have the benefit a friendly community, training, and guaranteed support. Find out how to <a href="http://umbraco.org/help-and-support" title="Get Umbraco Support">get help</a>.</p>]]></bodyText>
      </umbTextPage>
      <umbracoNaviHide>0</umbracoNaviHide>
      <featuredPage>0</featuredPage>
      <bodyText><![CDATA[<p>I decided to move some of the other pages below this one.  I also hid the <a href="/{localLink:1065}" title="Getting Started">Getting Started</a> and <a href="/{localLink:1066}" title="Go Further">Go Further</a> pages from the navigation.</p>]]></bodyText>
    </umbTextPage>
    <umbracoNaviHide>0</umbracoNaviHide>
    <facebookLink><![CDATA[https://www.facebook.com/pridmorej]]></facebookLink>
    <twitterLink><![CDATA[https://twitter.com/pridmorej]]></twitterLink>
    <linkedInLink><![CDATA[https://uk.linkedin.com/in/jeremypridmore]]></linkedInLink>
    <googleLink><![CDATA[https://plus.google.com/u/0/b/110292678529469679361/110292678529469679361/posts]]></googleLink>
    <hideBanner>0</hideBanner>
    <bannerHeader><![CDATA[I know this is just modifying a pre-built template, but...]]></bannerHeader>
    <bannerSubheader><![CDATA[I hope this demo will convince you I have the potential to be a great developer!]]></bannerSubheader>
    <bannerLinkText><![CDATA[You know you want to employ me ;-)]]></bannerLinkText>
    <bannerBackgroundImage><![CDATA[/media/1004/erosschematicmoreblur.png]]></bannerBackgroundImage>
    <aboutTitle><![CDATA[What's this about?]]></aboutTitle>
    <aboutText><![CDATA[<p>I thought it best to try and demonstrate my ability to get to grips with Umbraco.  I am completely new to this type of development and, although I have only used the site admin tool to modify the default content of this site template, I hope to add a few new features and tweaks here and there to show I can get results. fast.</p>]]></aboutText>
    <siteName><![CDATA[jpdemo1]]></siteName>
    <byline><![CDATA[My experiences of getting to grips with Umbraco]]></byline>
    <copyright><![CDATA[Jeremy Pridmore]]></copyright>
  </umbHomePage>
</root>